<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- Nếu máy dùng SQL Server Express thì đổi Data Source=.\SQLEXPRESS -->
    <add name="strAppleStore"
         connectionString="Data Source=localhost;Initial Catalog=AppleStore;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <sessionState timeout="30" />
    <customErrors mode="Off" />
    <globalization culture="vi-VN" uiCulture="vi-VN" />
  </system.web>
</configuration>
